@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

body {
    background-image: url(background.jpg);
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3.5em;
}

.countdown {
    display: inline-block;
    font-size: 1.7em;
    padding: 1em;
}

.countdown span {
    display: block;
    font-size: 5rem;
}